html, body {
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#pauseOverlay {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: black;
	position: absolute;
	z-index: 9999;
	display: none;
}

#view {
	width: 100%;
	height: 100%;
	position: relative;
}

#continueScreen {
	display: none;
	background: black;
	color: papayaWhip;
	text-align: center;
	box-sizing: border-box;
	position: relative;
}

#continueScreen .buttonContainer{
	padding-top: 35%;
}

#continueScreen .buttonContainer button {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

.SplashScreen {
	cursor: pointer;
}

.widget {
	position: absolute;
	overflow: hidden;
}

.interface {
	margin: auto auto;
	position: relative; /* because widgets are absolute */
}

.InsertText p {
	margin: 0;
	padding: 0;
}

.PlayButton {
	background-image:url('../images/control_pause.png');
	background-size:  contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.PlayButton.paused {
	background-image:url('../images/control_play.png');
	background-size:  contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.FullscreenButton {
	background-image:url('../images/fullscreenbw.png');
	background-size:  contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
.FullscreenButton:hover {
	background-image:url('../images/fullscreenbw_over.png');
}

.Preview {
	cursor: pointer;
}

.MasterVolume {
	background: url('../images/mastervolume_scale.png') repeat-x;
	cursor: pointer;
}

.MasterVolume .volumeSlider {
	pointer-events:none;
}

.MasterVolume .volumeSlider {
	background-color:#bbb;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	
	
 	box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 10px white inset;
	-webkit-box-shadow:-2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 10px white inset;
}

.SubtitlesUI .subtitleLine {
	margin: 2px 2px 2px 2px;
}

.vertical-center:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ImageUI {
	vertical-align: middle;
}